html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.my-container {
    position: relative;
    width: 100%;
}
.my-container-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
}

/*头部*/

.my-header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 9999;
}
.my-header .my-logo {
    position: absolute;
    left: 50px;
    display: table;
}
.my-header .my-logo img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    vertical-align: middle;
}
.my-header .my-navs {
    position: absolute;
    right: 50px;
    list-style: none;
    top: 30px;
    padding: 0px;
}
.my-header .my-navs li {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
}
.my-header .my-navs li a {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.my-header .my-navs li a:hover {
    color: #fff;
}
.my-header .my-navs li:nth-child(3) {
    border: 1px solid #fff;
}
.my-header .my-navs .my-nav:after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 1px solid #fff;
    transition: all 0.4s ease 0s;
}
.my-header .my-navs .my-nav:hover::after {
    width: 100%;
}
@media screen and (max-width:500px) {
    .my-header .my-navs {
        top: 40px;
    }
    .my-header .my-navs li {
        width: 20px;
        height: 20px;
        border: none !important;
        margin-left: 10px;
    }
    .my-header .my-navs .my-nav:hover::after {
        width: 0px;
    }
    .my-header .my-navs li a {
        width: 20px;
        height: 20px;
    }
    .my-header .my-navs li:nth-child(1) a {
        background: url(../src/message.png) no-repeat center center;
        background-size: contain;
    }
    .my-header .my-navs li:nth-child(2) a {
        background: url(../src/supervisor.png) no-repeat center center;
        background-size: contain;
    }
    .my-header .my-navs li:nth-child(3) a {
        background: url(../src/login.png) no-repeat center center;
        background-size: contain;
    }
    .my-header .my-navs li a span {
        display: none;
    }
}

/*内容*/

.my-content {
    width: 100%;
    position: relative;
    background: #fff;
}
.my-content .my-intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../src/my-intro.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.my-content .my-intro .my-mask {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}
.my-content .my-mask p {
    height: 200px;
    line-height: 80px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    text-align: center;
    font-size: 45pt;
    color: #fff;
    font-family: KaiTi;
}
.my-content .my-mask p span {
    font-size: 25pt;
}
@media screen and (max-width:500px) {
    .my-content .my-mask p {
        font-size: 20pt;
    }
    .my-content .my-mask p span {
        font-size: 16pt;
    }
}

/*动态*/

.my-content .my-message {
    padding-top: 80px;
}
.my-content .my-message .my-message-title {
    margin-bottom: 30px;
    display: inline-block;
    width: 130px;
}
.my-content .my-message .my-add-message {
    position: relative;
    top: 3px;
    float: right;
    width: 23px;
    height: 23px;
    background: url(../src/add-message.png) no-repeat center center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
}
.my-content .my-message .my-add-message:hover {
    transform: rotate(360deg) scale(1.2);
}
.my-content .my-message ul {
    margin: 0px;
}
.my-content .my-message-card {
    box-shadow: 0px 0px 8px #aaa;
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}
.my-content .my-message-card:hover {
    transform: translate(5px, 0px);
}
.my-content .my-message-card-text p {
    padding: 15px;
}
.my-content .my-message-card-info {
    padding: 15px;
}
.my-content .my-time {
    float: right;
}
.my-content .my-more {
    text-align: center;
}
@keyframes my-move {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}
.my-content .my-more button {
    position: relative;
    outline: none;
    border: none;
    width: 50px;
    height: 40px;
    background: url(../src/bottom-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.my-content .my-more button:hover {
    animation: my-move 0.8s infinite;
    animation-timing-function: ease-in-out;
    transform: scale(1.1);
}

/*导师*/

.my-content .my-supervisor {
    padding-top: 80px;
    position: relative;
}
.my-content .my-supervisor-card {
    position: relative;
    height: 330px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #aaa;
    margin-bottom: 40px;
}
.my-content .my-supervisor .row .my-supervisor-group:nth-child(1) .my-avatar:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: url(../src/crown-gold.png);
}
.my-content .my-supervisor .row .my-supervisor-group:nth-child(2) .my-avatar:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: url(../src/crown-silver.png);
}
.my-content .my-supervisor .row .my-supervisor-group:nth-child(3) .my-avatar:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: url(../src/crown-bronze.png);
}
.my-content .my-supervisor-card:hover {
    opacity: 0.7;
}
.my-content .my-supervisor .my-supervisor-title {
    margin-bottom: 30px;
}
.my-content .my-supervisor-card-img {
    height: 120px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.my-content .my-avatar {
    position: absolute;
    height: 140px;
    width: 140px;
    top: 50px;
    left: 50%;
    margin-left: -70px;
}
.my-content .my-avatar .my-avatar-bg {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}
.my-content .my-avatar .my-avatar-img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}
.my-content .my-supervisor-card .my-name {
    position: absolute;
    top: 210px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
}
.my-content .my-supervisor-card .my-star {
    position: absolute;
    text-align: center;
    top: 260px;
    width: 100%;
}
.my-content .my-star .my-star-full,
.my-content .my-star .my-star-half,
.my-content .my-star .my-star-zero {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.my-content .my-star .my-star-full {
    background: url(../src/star-full.png) no-repeat center center;
    background-size: contain;
}
.my-content .my-star .my-star-half {
    background: url(../src/star-half.png) no-repeat center center;
    background-size: contain;
}
.my-content .my-star .my-star-zero {
    background: url(../src/star-zero.png) no-repeat center center;
    background-size: contain;
}

/*脚注*/

.my-footer {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.8);
}
.my-footer .my-logo-1 {
    position: absolute;
    left: 50px;
    display: table;
}
.my-footer .my-logo-1 img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 55px;
    vertical-align: middle;
}
.my-footer .my-logo-1 span {
    position: relative;
    top: 55px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    font-family: KaiTi;
    color: #fff;
    font-size: 18pt;
    vertical-align: middle;
}
.my-footer p {
    position: absolute;
    right: 40px;
    bottom: 0px;
    width: 300px;
    height: 150px;
    line-height: 150px;
    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
}
@media screen and (max-width:500px) {
    .my-footer .my-logo-1 {
        display: none;
    }
    .my-footer p {
        font-size: 10pt;
        position: relative;
        width: 100%;
        right: 0px;
        bottom: 0px;
    }
}

/*登录框*/

.my-container .my-login {
    width: 350px;
    height: 290px;
    position: fixed;
    top: 50%;
    margin-top: -1000px;
    left: 50%;
    margin-left: -175px;
    background: #fff;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    z-index: 10001;
}
.my-login .my-login-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    text-align: center;
}
.my-login .my-login-header button {
    width: 175px;
    height: 60px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #d5d5d5;
}
.my-login .my-login-header button.login-active {
    background: #d5d5d5;
}
.my-login .my-login-header button:nth-child(2) {
    margin-left: -5px;
}
.my-login .my-login-content {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 350px;
    height: 225px;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.my-login .my-login-content input[type='text'] {
    width: 260px !important;
    height: 45px;
    text-align: center;
    margin-top: 25px;
    border: none;
    background: #d5d5d5;
    border-radius: 5px;
}
.my-login .my-login-content p {
    margin-top: 30px;
}
.my-login .my-login-content p input {
    display: inline-block;
    width: 175px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.my-login .my-login-content p input:nth-child(2) {
    margin-left: -5px;
    border-left: 1px solid #d5d5d5;
}
.my-login .my-register-content {
    position: absolute;
    top: 60px;
    left: 350px;
    width: 350px;
    height: 225px;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.my-login .my-register-content input[type='text'] {
    width: 260px !important;
    height: 45px;
    text-align: center;
    margin-top: 25px;
    border: none;
    background: #d5d5d5;
    border-radius: 5px;
}
.my-login .my-register-content p {
    margin-top: 30px;
}
.my-login .my-register-content p input {
    display: inline-block;
    width: 175px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.my-login .my-register-content p input:nth-child(2) {
    margin-left: -5px;
    border-left: 1px solid #d5d5d5;
}

/*发布状态*/

.my-container .my-new-message {
    width: 350px;
    height: 400px;
    position: fixed;
    top: 50%;
    margin-top: -1000px;
    left: 50%;
    margin-left: -175px;
    background: #fff;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    z-index: 10001;
    padding: 15px;
}
.my-new-message img {
    display: inline-block;
    height: 200px;
    width: 100%;
    background: url(../src/add-img.png) no-repeat center center;
    background-size: 50px;
}
.my-new-message input[type='file'] {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    width: 100%;
    height: 200px;
    opacity: 0;
}
.my-new-message textarea {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 5px;
}
.my-new-message p {
    text-align: right;
    display: table;
    margin: 0;
    margin-top: 5px;
}
.my-new-message p input {
    display: inline-block;
    width: 50px;
    height: 30px;
    vertical-align: middle;
    outline: none;
    border: none;
    cursor: pointer;
}
.my-new-message p input:nth-child(1) {
    background: url(../src/add.png) no-repeat center center;
    background-size: contain;
}
.my-new-message p input:nth-child(2) {
    background: url(../src/cancel.png) no-repeat center center;
    background-size: contain;
}
