html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.my-container {
    position: relative;
    width: 100%;
}
.my-container-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
}

/*头部*/

.my-header {
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
}
.my-header .my-logo {
    position: absolute;
    left: 50px;
    display: table;
}
.my-header .my-logo img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    vertical-align: middle;
}
.my-header .my-navs {
    position: absolute;
    right: 50px;
    list-style: none;
    top: 30px;
    padding: 0px;
}
.my-header .my-navs li {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
}
.my-header .my-navs li a {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.my-header .my-navs li:hover {
    background: #fff;
}
.my-header .my-navs li:hover a {
    color: #000;
}
@media screen and (max-width:500px) {
    .my-header .my-navs {
        top: 40px;
    }
    .my-header .my-navs li {
        width: 20px;
        height: 20px;
        border: none !important;
        margin-left: 10px;
    }
    .my-header .my-navs li a {
        width: 20px;
        height: 20px;
        background: url(../src/img/login.png) no-repeat center center;
        background-size: contain;
    }
    .my-header .my-navs li a span {
        display: none;
    }
}

/*内容*/

.my-content {
    position: relative;
    width: 100%;
}
.my-content .my-info-container {
    position: relative;
    width: 100%;
    background-image: url(../src/img/my-intro.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.my-info-container .my-supervisor-info {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
@media screen and (min-width:991px) {
    .my-info-container .my-supervisor-info {
        width: 70%;
    }
}
.my-info-container .my-supervisor-info .my-edit-btn {
    position: absolute;
    right: 25px;
    top: 25px;
}
.my-supervisor-info .my-edit-btn input {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../src/img/edit.png) no-repeat center center;
    background-size: contain;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
}
.my-supervisor-info .my-edit-btn input:hover {
    transform: rotate(360deg);
}
.my-info-container .my-supervisor-info-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.my-info-container .my-supervisor-head {
    margin-bottom: 30px;
}
.my-info-container .my-supervisor-head img {
    display: inline-block;
    height: 200px;
    width: 150px;
    background: url(../src/img/avatar.jpg) no-repeat center center;
}


/*评论*/

.my-comment {
    margin-top: 100px;
}
@media screen and (min-width:991px) {
    .my-comment .my-add-comment,
    .my-comment .my-comment-container {
        width: 60%;
    }
}
.my-add-comment p {
    height: 40px;
    line-height: 40px;
    font-size: 25pt;
}
.my-add-comment form {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.my-add-comment .my-add-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: url(../src/img/add-message.png);
    background-size: contain;
    cursor: pointer;
}
.my-add-comment textarea {
    margin-top: 10px;
    height: 180px;
    padding: 15px;
    border: none;
    box-shadow: 0px 0px 10px #aaa;
    transition: all 0.3s ease-in-out 0s;
}
.my-add-comment .my-star-num {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.my-add-comment .my-add-star {
    margin-top: 10px;
}
.my-add-comment .my-add-star .my-star-group {
    position: relative;
    width: 30px;
    height: 30px !important;
    float: left;
    margin-right: 5px;
}
.my-add-comment .my-add-star label {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: url(../src/img/star-hollow.png) no-repeat center center;
    background-size: contain;
}
.my-add-comment .my-add-star input[type='radio'] {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
.my-add-comment .my-add-star input[type='radio']:checked + label {
    background: url(../src/img/star-full.png) no-repeat center center;
}
.my-add-comment .my-btn-group {
    float: right;
}
.my-add-comment .my-btn-group input {
    display: inline-block;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #aaa;
    cursor: pointer;
}
.my-add-comment .my-btn-group input:hover {
    background: #555;
}
.my-comment .my-comment-card {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 8px #aaa;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    margin-top: 40px;
}
.my-comment .my-comment-card:hover {
    transform: translate(3px, 0px);
}
@media screen and (max-width:576px) {
    .my-comment .my-comment-card .user-head {
        display: none;
    }
}
.my-comment .my-comment-card .user-comment {
    margin-bottom: 50px;
}
.my-comment .my-comment-card .user-star {
    position: absolute;
    bottom: 0px;
}
.user-star .user-star-full,
.user-star .user-star-zero {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.user-star .user-star-full {
    background: url(../src/img/star-full.png) no-repeat center center;
    background-size: contain;
}
.user-star .user-star-zero {
    background: url(../src/img/star-zero.png) no-repeat center center;
    background-size: contain;
}
.user-approval {
    position: absolute;
    right: 15px;
    bottom: 0px;
    text-align: right;
}
.user-approval input {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    outline: none;
    border: none;
    cursor: pointer;
}
.user-approval .approve-btn {
    background: url(../src/img/approve.png) no-repeat center center;
    background-size: contain;
}
.user-approval .disapprove-btn {
    background: url(../src/img/disapprove.png) no-repeat center center;
    background-size: contain;
    position: relative;
    top: 3px;
}
.user-approval span {
    line-height: 26px;
    text-align: center;
    padding-left: 5px;
}
.my-comment .my-more {
    text-align: center;
    margin-top: 40px;
}
@keyframes my-move {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}
.my-comment .my-more button {
    position: relative;
    outline: none;
    border: none;
    width: 50px;
    height: 40px;
    background: url(../src/img/bottom-arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.my-comment .my-more button:hover {
    animation: my-move 0.8s infinite;
    animation-timing-function: ease-in-out;
    transform: scale(1.1);
}

/*脚注*/

.my-footer {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.8);
}
.my-footer .my-logo-1 {
    position: absolute;
    left: 50px;
    display: table;
}
.my-footer .my-logo-1 img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 55px;
    vertical-align: middle;
}
.my-footer .my-logo-1 span {
    position: relative;
    top: 55px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    font-family: KaiTi;
    color: #fff;
    font-size: 18pt;
    vertical-align: middle;
}
.my-footer p {
    position: absolute;
    right: 40px;
    bottom: 0px;
    width: 300px;
    height: 150px;
    line-height: 150px;
    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
}
@media screen and (max-width:500px) {
    .my-footer .my-logo-1 {
        display: none;
    }
    .my-footer p {
        font-size: 10pt;
        position: relative;
        width: 100%;
        right: 0px;
        bottom: 0px;
    }
}

/*登录*/

.my-container .my-login {
    width: 350px;
    height: 290px;
    position: fixed;
    top: 50%;
    margin-top: -1000px;
    left: 50%;
    margin-left: -175px;
    background: #fff;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    z-index: -1;
}
.my-login .my-login-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    text-align: center;
}
.my-login .my-login-header button {
    width: 175px;
    height: 60px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid #d5d5d5;
}
.my-login .my-login-header button.login-active {
    background: #d5d5d5;
}
.my-login .my-login-header button:nth-child(2) {
    margin-left: -5px;
}
.my-login .my-login-content {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 350px;
    height: 225px;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.my-login .my-login-content input[type='text'] {
    width: 260px !important;
    height: 45px;
    text-align: center;
    margin-top: 25px;
    border: none;
    background: #d5d5d5;
    border-radius: 5px;
}
.my-login .my-login-content p {
    margin-top: 30px;
}
.my-login .my-login-content p input {
    display: inline-block;
    width: 175px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.my-login .my-login-content p input:nth-child(2) {
    margin-left: -5px;
    border-left: 1px solid #d5d5d5;
}
.my-login .my-register-content {
    position: absolute;
    top: 60px;
    left: 350px;
    width: 350px;
    height: 225px;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.my-login .my-register-content input[type='text'] {
    width: 260px !important;
    height: 45px;
    text-align: center;
    margin-top: 25px;
    border: none;
    background: #d5d5d5;
    border-radius: 5px;
}
.my-login .my-register-content p {
    margin-top: 30px;
}
.my-login .my-register-content p input {
    display: inline-block;
    width: 175px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.my-login .my-register-content p input:nth-child(2) {
    margin-left: -5px;
    border-left: 1px solid #d5d5d5;
}

/*资料编辑表单*/

.my-edit-form {
    width: 500px;
    position: absolute;
    top: -1000px;
    left: 50%;
    margin-left: -250px;
    background: #fff;
    padding: 30px;
    z-index: 10001;
}
.my-edit-form .row {
    margin-bottom: 10px;
}
.my-edit-form input:not([type='file']),
.my-edit-form select,
.my-edit-form textarea {
    padding: 0 8px !important;
    outline: none;
    border: none;
    background: #d5d5d5;
    height: 30px;
}
.my-edit-form select option {
    background: #fff;
}
.my-edit-form textarea {
    height: 50px;
}
.my-edit-form input[type='radio'] {
    margin-left: 5px;
    margin-right: 15px;
}
.my-edit-form .my-edit-form-btns {
    margin-top: 25px;
}
.my-edit-form .my-edit-form-btns div:nth-child(1) {
    border-right: 1px solid #aaa;
}
.my-edit-form .my-edit-form-btns input {
    display: inline-block;
    height: 40px;
    width: 100%;
    cursor: pointer;
}
.my-edit-form .my-edit-form-btns input:hover {
    color: #fff;
    background: #000;
}
@media screen and (max-width:576px) {
    .my-edit-form {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .my-edit-form label {
        text-align: left !important;
        padding-left: 0px;
    }
}
